form{
    background-color: rgb(215, 189, 215);
    padding: 3vh;
}

h4{
    margin-top: 2vh;
}

input{
    margin-top: 2vh;
}

.success-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #def2e5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  
  .success-popup-content {
    text-align: center;
  }
  
  .close-button {
    margin-top: 10px;
  }
  
